.div0{
    background-color: rgb(28, 28, 28);
    width: 1199px;height: 609px;
}
.div1{
    display: inline-block;
    width: 199px;height: 45px;
    padding-top: 10px;padding-left: 10pxs;margin-left: 25px;
}
.div2{
    width: 599px;height: 45px;
    margin-left: 201px;margin-top: -36px;
}
.div3{
    width: 309;height: 45px;
    margin-left: 799px;margin-top: -36px;
}
.div4{
    width: 1177px;height: 259px;padding-left: 10px;
}
.div5{
    margin-top: -10px;margin-left: 10px;
}
.div6{
    width: 1177px;height: 229px;padding-left: 10px;
}